.call{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-image: url(../../assets/img/splash-chamada.svg);
  background-position: top -4rem right;
  background-repeat: no-repeat;
  position: relative;
}

.call-text{
  width: 12.5rem;
  margin-bottom: 1.55rem;
}

.call-img{
  position: absolute;
  top: 2.25rem;
  right: 0;
}

.call-form{
  position: relative;
  z-index: 2;
}